/* Боковая панель */
.sidebar {
    padding: 13px;
    display: none; /* Скрываем боковую панель по умолчанию */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Положение сверху */
    left: -250px; /* Скрыть боковую панель за пределами экрана */
    width: 250px; /* Ширина боковой панели */
    height: 100%; /* Высота боковой панели */
    background: linear-gradient(45deg, #000000, #bac8e0); /* Градиентный фон */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Тень для боковой панели */
    transition: left 0.3s ease; /* Плавный переход */
    z-index: 1000; /* Убедитесь, что панель будет поверх других элементов */
  }
  
  .sidebar.active {
    left: 0; /* Показываем боковую панель */
    display: block; /* Отображаем боковую панель */
  }
  
  
  .form-control {
  
    height: 30px;
    width: 80%; /* Ширина поля ввода */
    border-radius: 5px 0 0 5px; /* Скругление углов только слева */
  }
  
  