{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ article.title }}</h2>
    <p>Автор: {{ article.author.username }}</p>
    <p>Дата создания: {{ article.created_at|date:"d M Y H:i" }}</p>

    {% if article.image %}
        <div class="mb-3">
            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
        </div>
    {% endif %}

    <div class="break-word">
        {% autoescape off %}
        {{ article.content|safe }}
        {% endautoescape %}
    </div>

    <h3>Комментарии:</h3>
    <div class="comments-section">
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-user">
                    {% if comment.user.profile %}
                        {% if comment.user.profile.profile_picture %}
                            <img src="{{ comment.user.profile.profile_picture.url }}" alt="{{ comment.user.username }}'s profile picture" width="50" height="50">
                        {% else %}
                            <img src="{% static 'default_profile_picture.png' %}" alt="" width="50" height="50">
                        {% endif %}
                    {% else %}
                        <img src="{% static 'default_profile_picture.png' %}" alt="" width="50" height="50">
                    {% endif %}
                    <strong>{{ comment.user.username }}</strong>:
                </div>
                <p>{{ comment.content }}</p>
                <small class="comment-date">{{ comment.created_at|date:"d M Y H:i" }}</small>
            </div>
        {% empty %}
            <p>Пока нет комментариев.</p>
        {% endfor %}
    </div>
    
    {% if user.is_authenticated %}
        <h4>Добавить комментарий:</h4>
        <form method="POST" class="comment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    {% else %}
        <p>Вы должны <a href="{% url 'login' %}">войти</a>, чтобы оставить комментарий.</p>
    {% endif %}
    
    
    <a href="{% url 'article_list' %}" class="btn btn-secondary mt-4">Назад к списку статей</a>
{% endblock %}