
{% extends 'main/base.html' %}

{% block title %}Книги{% endblock %}

{% block content %}
<h4>Раздел Книги</h4>

<p>Ниже представлены некоторые рекомендуемые книги по Python:</p>

<ul class="book-list">
    <li>
        <a href="https://iro23.ru/sites/default/files/mark_lutc._programmirovanie_na_python.pdf" target="_blank">Изучаем Python</a> - Автор: Марк Лутц
    </li>
    <li>
        <a href="http://ce.phys.spbu.ru/cm/Books/%D0%AD%D1%80%D0%B8%D0%BA%20%D0%9C%D1%8D%D1%82%D0%B8%D0%B7%20-%20%D0%98%D0%B7%D1%83%D1%87%D0%B0%D0%B5%D0%BC%20Python.-2020.pdf" target="_blank">Python Crash Course</a> - Автор: Эрик Маттес
    </li>
    <li>
        <a href="https://www.rulit.me/books/grokaem-algoritmy-illyustrirovannoe-posobie-dlya-programmistov-i-lyubopytstvuyushchih-read-791533-1.html" target="_blank">Грокаем алгоритмы</a> - Автор: А. Бхаргава
    </li>
</ul>

{% endblock %}
