{% extends 'main/base.html' %}

{% block title %}Основы FastAPI{% endblock %}

{% block content %}

<h4>Основы FastAPI</h4>

<p>FastAPI - это современный, быстрый (высокая производительность) веб-фреймворк для создания API на Python. Он основан на стандартных типах Python и позволяет быстро разрабатывать приложения с минимальными усилиями.</p>

<h4>Установка FastAPI и Uvicorn</h4>
<p>Чтобы установить FastAPI и Uvicorn (ASGI-сервер), используйте pip:</p>
<div class="code">

<span class="keyword">pip install fastapi uvicorn</span>

</div>

<h4>Создание простого приложения</h4>
<p>Давайте создадим простое веб-приложение, которое будет возвращать приветственное сообщение.</p>

<h5>Пример кода</h5>
<div class="code">
    <pre>
<code>
<span class="keyword">from</span> <span class="module">fastapi</span> <span class="keyword">import</span> <span class="module">FastAPI</span>

<span class="variable">app</span> = <span class="module">FastAPI</span>()

<span class="decorator">@app.get</span>(<span class="string">'/'</span>)
<span class="keyword">def</span> <span class="function">read_root</span>():
    <span class="return">return</span> <span class="string">{'message': 'Привет, мир!'}</span>
</code></pre>
</div>


<h4>Запуск приложения</h4>
<p>Сохраните код в файл, например <code>app.py</code>, и запустите его с помощью Uvicorn:</p>
<div class="code">

<span class="keyword">uvicorn app:app --reload</span>

</div>
<p>После этого откройте браузер и перейдите по адресу <code>http://127.0.0.1:8000/</code>, чтобы увидеть сообщение "Привет, мир!".</p>

<h4>Добавление маршрутов</h4>
<p>Вы можете добавлять дополнительные маршруты для обработки различных URL. Например:</p>
<div class="code">
    <pre>
<code>
<span class="decorator">@app.get</span>(<span class="string">'/about'</span>)
<span class="keyword">def</span> <span class="function">about</span>():
    <span class="return">return</span> <span class="string">{'message': 'Это страница о нас.'}</span>
</code></pre>
</div>


<h4>Использование параметров</h4>
<p>FastAPI позволяет легко обрабатывать параметры в URL. Например, давайте добавим маршрут с параметром:</p>
<div class="code">
    <pre>
<code>
<span class="decorator">@app.get</span>(<span class="string">'/items/{item_id}'</span>)
<span class="keyword">def</span> <span class="function">read_item</span>(<span class="variable">item_id</span>: <span class="type">int</span>):
    <span class="return">return</span> <span class="string">{'item_id': item_id}</span>
</code></pre>
</div>

<h4>Заключение</h4>
<p>FastAPI - это мощный инструмент для создания веб-приложений и API. В этом уроке мы рассмотрели основы FastAPI, установку, создание простого приложения, добавление маршрутов и использование параметров. Теперь вы можете начать разрабатывать свои собственные приложения на FastAPI!</p>

{% endblock %}
